<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quản lý nhiệm vụ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  </head>
  <body>
    <h1>
      Quản lý nhiệm vụ
    </h1>
      <div class="l-container">
        <div id="tasks">
          <img src="http://hgtech.vn/userfiles/images/doanh-nghiep-lien-doanh.jpg"/>
          <h2>Nhiệm Vụ Mới ({{tasks.length}})</h2>
          <ul class="p-list-group">
            <li v-for='task in tasks' class="p-list-group__item">
              {{task.body}}
              <button class="p-btn-delete" @click="removeTask(task)" >&#10007;</button>
            </li>
          </ul>
          <form @submit='addTask'>
              <div class="p-form-group">
                  <input v-model='newTask' type="text" name="" value="" class="p-form-group__control" placeholder="Tôi muốn...">
              </div>
                <button type="submit" name="button" class="btn btn-primary p-btn-add-task">Thêm nhiệm vụ</button>
          </form>
          <hr>
          <pre>{{$data | json}}</pre>
        </div>

      </div>

    <script src="../js/manage.js"></script>
  </body>
</html>
